body {
    background-image : url("../image/whitecake.jpg");
    color : #000;
    font-style : normal;
    margin : 13px;
    padding : 58px;
    width : 971px;
}
.update {
	position : "right";
	color : blue;
	margin : 13px;
    padding : 58px;
}
table {
	font-style : normal;
}
#button {
    position : "right";
    color : green;

}
.add { 
    display : inline-block;      
    background-color : light green;
    color : #000;
    font-family : Arial;
}
